.sidemenuhyper{text-decoration: none;font-family: arial;font-size: 13px;/*background: url("images/gsprite_pg_slate_20100521.png") repeat-x;*/
color:#072D4F;line-height: 20px;font-weight: bold;width: 200px;border-bottom:1px solid #DDD}
body{background-color: #F3F3F3;font-size: 16px;color:#333;font-family: arial tahoma;}
.row0{background-color: #FFF}
.designertable{font-size: 12px;font-family: arial;color: #333}
.adfsf, .designertable td{padding:5px}
